<section id="standout-intro-banner" style='height: 100vh; background-image: url("{{ .Site.Params.banner.bgImage | absURL }}");'>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block" data-aos="fade-up" data-aos-delay="300">
                    {{ "<!-- Slider -->" | safeHTML}}
                    <section class="cd-intro">
                        <h1 class="cd-headline slide" data-aos="fade-up" data-aos-delay="400">
                            {{ with .Site.Params.banner.heading }}<span>{{ . }}</span>{{ end }}
                        </h1>
                    </section>
                    {{ with .Site.Params.banner.description }}
                        <h2 data-aos="fade-up" data-aos-delay="600">{{ . }}</h2>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
